{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="row">
    <div class="col-md-4">
<form  method="post" action="{% url 'rate' project.id %}" style="margin-left: 50px; margin-top: 70px;">
    {% csrf_token %}
    <legend class="border-bottom mb-4">Rate the project below.</legend>
    {{ form|crispy }}

    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-sm" value="Submit">
    </div>

    <input type="hidden" name="next" value="{{next}}">

  </form>


 </div>
<div class="col-md-3" style="margin-left: 50px; margin-top: 65px;">
    {% for rating in project.ratings.all %}
    <h5>Ratings</h5>
    <hr>
    <div id="design"> <span class="rates">Design</span>: {{ rating.design_average}}<br>
       
    </div>
    <br>
    <div id="usable" class="mx-auto">  <span class="rates">Usability</span>: {{ rating.usability_average }}<br>
      
    </div>
    <br>
    <div id="content"><span class="rates">Content</span>: {{ rating.content_average }}<br>
        
    </div>
    <br>
    {% endfor %}
    
    </div>
   
   <div class="col-md-3" style="margin-left: 50px; margin-top: 65px;">
    <h5 class="D-block mx-auto">Average Ratings</h5>
    <hr>
            {% for rating in project.ratings.all %}
            
            <a class="btn btn-outline-danger btn-sm" ><h5>{{ rating.score }}</h5>
                <span class="sc">Average Score</span>
            </a>
            <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                <span class="sc">Design Average</span>
            </a>
            <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                <span class="sc">Usability Average</span>
            </a>
            <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                <span class="sc">Content Average</span>
            </a>
            
            {% endfor %}
        
        </div>
        
</div>

{% endblock %}
